<!DOCTYPE html>

<html>
    <head>
        <title>&{'content.not.found'}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>    
    	<style>
    		body { 
    			font-family: Helvetica;
    			
    		}
    		p {
    			font-size: 13px;
    		}
    		p span { color: #999 }
    	</style>
    </head>
    <body>
    	<h2>&{'error.content.title'}</h2>
        #{if play.mode.name() == 'DEV'}
            <p>
                &{'error.404', result.message}
            </p>
        #{/if}
        #{else}
            <p>
                &{'error.404',result.message}
            </p>
        #{/else}
        
    </body>
</html>
