<!DOCTYPE html>

<html>
    <head>
        <title>&{'error.application'}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>	
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{500 exception /}
        #{/if}
        #{else}
            <h1>&{'error.occured'}</h1>
            #{if exception instanceof play.exceptions.PlayException}
                <p>
                	&{'content.exception', exception.id}
                </p>
            #{/if}
        #{/else}
    </body>
</html>
