
	<div class="row title">
		<div class="span12">
			<p>&{'footer.line'}</p>
		</div>
	</div>
	<div class="row logos">
		<div class="span4 partner">
			<a href="&{'url.footer.mnhn'}">
			<img src="@{'/public/img/logo_mnhn.png'}" title="&{'title.footer.mnhn'}" />
			</a>
		</div>
		<div class="span4 partner">
			<a href="&{'url.footer.tela'}">
			<img src="@{'/public/img/logo_tela.png'}" title="&{'title.footer.tela'}" />
			</a>
		</div>
		<div class="span4 partner">
			<a href="&{'url.footer.erec'}">
			<img src="@{'/public/img/logo_erecolnat.png'}" title="&{'title.footer.erec'}" />
			</a>
		</div>
	</div>
