
<div ng-controller="StatsMissionCtrl" ng-init="init(${mission.id})">

<div class="row">
    <div class="span8" id="chart-box-full">
    </div>
    <div class="span4" id="chart-box-half">
    </div>
</div>



<div class="row">
    <div class="span4">
        <div class="stat-box">
            <h3>Top des botanistes renseignés</h3>

            <em id="no-botanists" style="display: none">Pas de question "Récolteur" ou "Déterminateur" pour cette mission</em>


            <div id="with-botanists">
                <em ng-hide="(topBotanistList && topBotanistList.length > 0)">Aucune donnée pour l'instant</em>

                <table class="stat-table" style="width:100%" ng-cloak ng-show="!noBotanistQuestion() &&topBotanistList && topBotanistList.length > 0">
                    <tr>
                        <th style="text-align:left">Nom</th>
                        <th style="text-align:right">Nombre d'entrées validées</th>
                    </tr>
                    <tr ng-repeat="botanist in topBotanistList" ng-if="$index < 10">
                        <td>
                            <a ng-href="{{ botanistUrl(botanist[1]) }}">{{ botanist[0] }}</a>

                        </td>

                        <td style="text-align:right"><span class="number">{{ formatNumber(botanist[2]) }}</span></td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="stat-box">
            <div id="chart-centuries" class="chart">
                <h3>Les siècles</h3>

            </div>
            <div id="empty-centuries" style="display:none">
                <h3>Les siècles</h3>
                <em>Aucune donnée pour l'instant</em>
            </div>
            <div id="no-centuries" style="display:none">
                <h3>Les siècles</h3>
                <em>Pas de question "Date" sur cette mission</em>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>


<div class="row stat-row">

    <div class="span4">
        <div class="stat-box">
            <div id="chart-countries" class="chart">
                <h3>Pays</h3>




            </div>
            <div id="control-countries" style="display:none">

                <a class="btn btn-mini btn-default" ng-show="showMoreCountries()" ng-click="moreCountries()">Afficher plus de pays</a>
                <a class="btn btn-mini btn-default reset" style="display:none" href="javascript:$('#control-countries .reset').hide();countryChart.filterAll();dc.redrawAll();">Annuler la selection</a>
                <a class="btn btn-mini btn-default" ng-show="showTopOnlyCountries()" ng-click="topCountriesOnly()">Top 10 uniquement</a>
                <br><br/>
                <em>Sélectionnez un pays pour voir le détail de ses régions</em>
                <hr/>
            </div>

            <div id="legend-countries" class="legend-box">

            </div>

            <div id="empty-countries" style="display:none">
                <h3>Pays</h3>
                <em>Aucune donnée pour l'instant</em>
            </div>

            <div id="no-countries" style="display:none">
                <h3>Pays</h3>
                <em>Pas de question "Pays" sur cette mission</em>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="span4">
        <div class="stat-box">
            <div id="chart-regions" class="chart">
                <h3>Régions <span id="unique-country" style="display:none">(<span></span>)</span></h3>
            </div>


            <div id="control-regions" style="display:none">

                <a class="btn btn-mini btn-default" ng-show="showMoreRegions()" ng-click="moreRegions()">Afficher plus de régions</a>
                <a class="btn btn-mini btn-default reset" style="display:none" href="javascript:$('#control-regions .reset').hide();regionChart.filterAll();dc.redrawAll();">Annuler la sélection</a>
                <a class="btn btn-mini btn-default" ng-show="showTopOnlyRegions()" ng-click="topRegionsOnly()">Top 10 uniquement</a>
                <br><br/>
                <em>Sélectionnez un pays pour voir le détail de ses régions</em>
                <hr/>
            </div>

            <div id="legend-regions" class="legend-box"></div>

            <div id="empty-regions" style="display:none">
                <h3>Régions</h3>
                <em>Aucune donnée pour l'instant</em>
            </div>

            <div id="no-regions" style="display:none">
                <h3>Régions</h3>
                <em>Pas de question "Régions" sur cette mission</em>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>



    <div class="row stat-row">
        <div class="span8">
            <div class="stat-box">

                <div id="chart-contributions-day" class="chart">
                    <h3>Activité des herbonautes
                        <small><a style="display:none" class="reset" href="javascript:contributionZoomChart.filterAll();dc.redrawAll();">(annuler la sélection)</a></small>
                    </h3>

                    <a class="btn btn-mini btn-default" id="cumul-on" style="display:none">Valeurs cumulées</a>
                    <a class="btn btn-mini btn-default" id="cumul-off">Valeurs quotidiennes</a>

                </div>
                <div id="chart-zoom-chart"></div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="span8">
            <div class="stat-box">
                <div id="chart-specimens-day" class="chart">
                    <h3>Nombre de spécimens</h3>

                    <div id="legend-specimens" class="legend-box">

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>



    <div class="row">

        <div class="span4">
            <div class="stat-box nv">
                <h3>Avancement par question</h3>
                <div id="chart1" class="chart">
                    <svg></svg>
                </div>
            </div>
        </div>

    </div>



</div>

<style>
    .nv .chart svg {
        height: 280px;
    }
</style>


<script type="text/javascript" src="@{'/public/js/d3.min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/crossfilter.js'}"></script>

<script type="text/javascript" src="@{'/public/js/dc.js'}"></script>


<script type="text/javascript" src="@{'/public/js/colorbrewer.js'}"></script>

<script>

    var frLocale = d3.locale({
        dateTime: "%A, le %e %B %Y, %X",
        date: "%d/%m/%Y",
        time: "%H:%M:%S",
        periods: ["AM", "PM"], // unused
        days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
        shortDays: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
        months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
        shortMonths: ["janv.", "févr.", "mars", "avr.", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."]
    });

    var tickFormat = frLocale.timeFormat.multi([
        ["%H:%M", function(d) { return d.getMinutes(); }],
        ["%H:%M", function(d) { return d.getHours(); }],
        ["%a %d", function(d) { return d.getDay() && d.getDate() != 1; }],
        ["%b %d", function(d) { return d.getDate() != 1; }],
        ["%B", function(d) { return d.getMonth(); }],
        ["%Y", function() { return true; }]
    ]);


    var timeData;
    d3.time.format = frLocale.timeFormat;

    // (function() {
    var missionId = ${mission.id};
    var countries, regions;
    var countryChart = dc.pieChart("#chart-countries");
    var regionChart = dc.pieChart("#chart-regions");
    var centuryChart = dc.rowChart("#chart-centuries");
    var contributionByDayChart = dc.lineChart('#chart-contributions-day');
    var contributionZoomChart = dc.barChart('#chart-zoom-chart');
    //var specimenByDayChart = dc.lineChart('#chart-specimens-day');
    var specimenByDayChart = dc.compositeChart("#chart-specimens-day");

    //var contributionByDayChart = dc.lineChart('#chart-contributions-day');
    //var contributionZoomChart = dc.barChart('#chart-zoom-chart');
    var countryTop = 10,
            regionTop = 10;



    function romanize (num) {
        if (!+num)
            return false;
        var digits = String(+num).split(""),
                key = ["","C","CC","CCC","CD","D","DC","DCC","DCCC","CM",
                    "","X","XX","XXX","XL","L","LX","LXX","LXXX","XC",
                    "","I","II","III","IV","V","VI","VII","VIII","IX"],
                roman = "",
                i = 3;
        while (i--)
            roman = (key[+digits.pop() + (i * 10)] || "") + roman;
        return Array(+digits.join("") + 1).join("M") + roman;
    }

    function toObjectArray(data) {
        var res = [];

        for (var i = 0; i < data.length; i++) {
            res.push({ label: data[i][0], refId: data[i][1], value: data[i][2] })
        }
        return res;
    }

    function topCountries(data, limit) {

        var topArray = [];
        var other = [otherCat, 0];
        for (var i = 0; i < data.length; i++) {
            if (i < limit) {
                topArray.push(data[i]);
            } else {
                other[1] = other[1] + data[i][1];
            }
        }
        if (other[1] > 0) {
            topArray.push(other);
        }
        return topArray;
    }



    function displayCenturies() {
        // Les siècles
        if (!_.find(missionQuestions, function(q) { return q.name == "collect_date" })) {
            $("#chart-centuries").hide();
            $("#no-centuries").show();
            dc.deregisterChart(centuryChart);
            return;
        }

        d3.json(herbonautes.ctxPath + '/stats/global/centuries?missionId=' + missionId, function (data) {

            console.log("data centuries", data);

            if (data.length == 0) {
                $("#chart-centuries").hide();
                $("#empty-centuries").show();
                return;
            }

            function toObjectArray(data) {
                var res = [];

                for (var i = 0; i < data.length; i++) {
                    if (data[i][1]) {
                        res.push({century: data[i][0], value: data[i][1]})
                    }
                }
                return res;
            }

            var arr = toObjectArray(data);
            var ndx = crossfilter(arr);

            var centuryDim = ndx.dimension(function (d) {
                var y = d3.time.year(new Date(d.century));
                var c = Math.floor(y.getFullYear() / 100) + 1;
                return -c;

            });

            var centuryGroup = centuryDim.group().reduceSum(function (d) {
                return d.value
            });

            var newWidth = document.getElementById('chart-box-half').offsetWidth;

            centuryChart
                    .width(newWidth)
                    .height(250)
                    .margins({top: 20, left: 10, right: 50, bottom: 20})
                    .group(centuryGroup)
                    .dimension(centuryDim)
                    .renderLabel(true)
                    .ordinalColors(["grey"] /*['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'] */)
                    .keyAccessor(function (d) {
                        return -d.key;
                    })
                    .label(function (d) {
                        //return d.key;
                        return romanize(-d.key) + "ème";
                    })

//
                    .title(function (d) {
                        return d.value + " spécimens";
                        //return romanize(c) + "ème";
                    })
                    .elasticX(true)
                    .xAxis().ticks(4);

                centuryChart.filter = function () {};



            console.log(centuryDim.group().all());

        });


    }
    var uniqueCountry;

    var countryTop = 10,
            regionTop = 10;



    function displayCountryChart(callback) {

        if (!_.find(missionQuestions, function(q) { return q.name == "country"})) {
            $("#chart-countries").hide();
            $("#control-countries").hide();
            $("#legend-countries").hide();
            $("#no-countries").show();
            dc.deregisterChart(countryChart);
            return;
        }

        d3.json(herbonautes.ctxPath + '/stats/global/countries?missionId=' + missionId, function (data) {

            if (data.length == 0) {
                $("#chart-countries").hide();
                $("#control-countries").hide();
                $("#legend-countries").hide();
                $("#empty-countries").show();
                return;
            }

            countries = toObjectArray(data);
            var ndx = crossfilter(countries);
            //var all = ndx.groupAll();
            //var all = ndx.groupAll();
            //console.log(all);
            var valDim = ndx.dimension(function (d) {
                return d.value
            });

            var topLabels = _.map(valDim.top(countryTop), function (d) {
                return d.label
            });
            //console.log(topLabels);
            var labelDim = ndx.dimension(function (d) {
                return d.label
            });

            var group;


            group = labelDim.group(function (d) {
                //console.log("group", d);
                if (_.contains(topLabels, d)) {
                    return d;
                } else {
                    return "Autres";
                }
            }).reduceSum(function (d) {
                return d.value
            });




            var newWidth = document.getElementById('chart-box-half').offsetWidth;

            countryChart.dimension(labelDim)
                    .group(group)
                    .radius((newWidth - 100) / 2)
                //.minAngleForLabel(0)
                    .label(function (d) {
                        // console.log("label", d);
                        return d.key;
                    })
            //.legend(dc.legend().y(newWidth - 200));

            countryChart.on("filtered", function (chart, filter) {

                //if (filter == "Autres") {
                //    countryTop += 10;
                //    countryChart.filterAll();
                //    displayCountryChart();
                //    return;
                //}

                uniqueCountry = null;

                if (countryChart.filters().length == 1) {
                    uniqueCountry = countryChart.filters()[0];
                }

                if (countryChart.filters().length > 0) {
                    $("#control-countries .reset").show();
                }

                if (!!uniqueCountry) {

                    var filteredCountry = _.find(countries, function (c) {
                        return c.label == uniqueCountry;
                    });

                    var refId = filteredCountry ? filteredCountry.refId : null;

                    countryId = refId;
                    displayRegionChart();
                } else {
                    countryId = null;
                    displayRegionChart();
                }

                displayUniqueCountry(uniqueCountry);

            })


            countryChart.width(newWidth).height(newWidth).transitionDuration(0);
            //regionChart.width(newWidth).height(newWidth).transitionDuration(0);

            console.log("width country : " + newWidth);


            console.log("display country legend");
            displayCountryLegend();

            if (callback) callback();


            dc.renderAll();






            //        .dimension(dim)
            //        .group(group)
            //        .width(250)
            //        .height(250)
            //        .radius(100)
            //        .label(function(d) { return d.key });
            //chart.keyAccessor(function(d) { return d[0]; });
            //chart.valueAccessor(function(d) { return d[1]; });


        });
    }

    function displayRegionLegend() {

        console.log("display region legend");

        $("#control-regions").show();

        var regions = regionChart.data();
        var colors = regionChart.colors();

        console.log("display region legend", regions);

        var countryLegendHtml = '<table class="legend">';
        for (var i = 0; i < regions.length ; i++) {

            if (i % 2 == 0) { countryLegendHtml += "<tr>" }

            var colorSquare = '<span class="square" style="background:' + colors(regions[i].key) + '">&nbsp;</span>'

            countryLegendHtml += '<td data-country="' + regions[i].key +  '">' + colorSquare + " " + regions[i].key + '</td>';

            if (i % 2 == 1) { countryLegendHtml += "</tr>" }
        }
        countryLegendHtml += "</div>";


        $("#legend-regions").html(countryLegendHtml).show();

        console.log("UPDATE LEGEND", countryLegendHtml);

    }

    function displayCountryLegend() {

        console.log("display country legend");

        $("#control-countries").show();

        var countries = countryChart.data();
        var colors = countryChart.colors();

        var countryLegendHtml = '<table class="legend">';
        for (var i = 0; i < countries.length ; i++) {

            if (i % 2 == 0) { countryLegendHtml += "<tr>" }

            var colorSquare = '<span class="square" style="background:' + colors(countries[i].key) + '">&nbsp;</span>'

            countryLegendHtml += '<td data-country="' + countries[i].key +  '">' + colorSquare + " " + countries[i].key + '</td>';

            if (i % 2 == 1) { countryLegendHtml += "</tr>" }
        }
        countryLegendHtml += "</div>";

        $("#legend-countries").html(countryLegendHtml).show();



    }

    $("#legend-countries").on('click', 'td', function(e) {
        var country = $(this).data("country");
        countryChart.filter(country);
    });


    function displayUniqueCountry(uniqueCountry) {
        if (uniqueCountry) {
            $("#unique-country span").text(uniqueCountry);
            $("#unique-country").show();
        } else {
            $("#unique-country").hide();
        }
    }

    var countryId = null;
    function displayRegionChart(callback) {

        if (!_.find(missionQuestions, function(q) { return q.name == "region1"})) {
            $("#chart-regions").hide();
            $("#control-regions").hide();
            $("#legend-regions").hide();
            $("#no-regions").show();
            dc.deregisterChart(regionChart)
            return;
        }

        var url = herbonautes.ctxPath + '/stats/global/regions1?missionId=' + missionId + (!!countryId ? ('&country=' + countryId) : '');

        console.log("display regions '" + url + "'");
        //, countryId);

        d3.json(url, function (data) {

            if (data.length == 0) {
                $("#chart-regions").hide();
                $("#control-regions").hide();
                $("#legend-regions").hide();
                $("#empty-regions").show();
                return;
            }

            regions = toObjectArray(data);
            var ndx = crossfilter(regions);
            //var all = ndx.groupAll();
            //var all = ndx.groupAll();
            //console.log(all);
            var valDim = ndx.dimension(function(d) { return d.value });
            var topLabels = _.map(valDim.top(regionTop), function(d) { return d.label });
            //console.log(topLabels);
            var labelDim = ndx.dimension(function(d) { return d.label });
            var group = labelDim.group(function(d) {
                //console.log("group", d);
                if (_.contains(topLabels, d)) {
                    return d;
                } else {
                    return "Autres";
                }
            }).reduceSum(function(d) { return d.value });


            var newWidth = document.getElementById('chart-box-half').offsetWidth;

            regionChart.dimension(labelDim)
                    .group(group)
                    .radius((newWidth - 100) / 2)
                //.minAngleForLabel(0)
                    .label(function(d) {
                        // console.log("label", d);
                        return d.key;
                    })
            //.legend(dc.legend().y(newWidth - 200));

            regionChart.filter = function() {};



            //countryChart.width(newWidth).height(newWidth).transitionDuration(0);
            regionChart.width(newWidth).height(newWidth).transitionDuration(0);

            console.log("width : " + newWidth);

            displayRegionLegend();

            if (callback) { callback() };

            dc.renderAll();

            //        .dimension(dim)
            //        .group(group)
            //        .width(250)
            //        .height(250)
            //        .radius(100)
            //        .label(function(d) { return d.key });
            //chart.keyAccessor(function(d) { return d[0]; });
            //chart.valueAccessor(function(d) { return d[1]; });


        });

    }

    var contribStart, contribEnd;
    var specimenStart, specimenEnd;

    var cumulContrib = true;

    $("#cumul-on").click(function() {
        $("#cumul-on").hide();
        $("#cumul-off").show();
        cumulContrib = true;
        displayContributions();
    });
    $("#cumul-off").click(function() {
        $("#cumul-off").hide();
        $("#cumul-on").show();
        cumulContrib = false;
        displayContributions();
    })

    function displayContributions() {



        d3.json(herbonautes.ctxPath + '/stats/global/contributionsByDay?missionId=' + missionId, function (data) {

            console.log("Display contributions", data);

            timeData = [];

            if (!contribStart) {
                contribStart = new Date(data[0][0]);
                contribEnd = new Date(data[data.length - 1][0]);
            }

            console.log("scale", contribStart, contribEnd);

            var cumulValue = 0;
            for (var i = 0; i < data.length; i++) {

                if (cumulContrib) {
                    cumulValue += data[i][1];
                } else {
                    cumulValue = data[i][1];
                }

                timeData.push({ date: new Date(data[i][0]),
                    day: d3.time.day(new Date(data[i][0])),
                    week: d3.time.week(new Date(data[i][0])),
                    time: data[i][0], value: cumulValue })
            }

            //  console.log(timeData);

            var ndxTime = crossfilter(timeData);

            var contribDayDim = ndxTime.dimension(function(d) {
                return d.day;
            });

            var contribWeekDim = ndxTime.dimension(function(d) {
                return d.week;
            });
            //dayDim.group().reduceSum(function(d) { return d.value }).all()
            var contribDayGroup = contribDayDim.group().reduceSum(function(d) {
                return +d.value;
            });
            var contribWeekGroup = contribWeekDim.group(function(d) { return d3.time.week(new Date(d)) }).reduceSum(function(d) {
                return +d.value;
            });

            var dateFormat = d3.time.format('%d/%m/%Y');

            var newWidth = document.getElementById('chart-box-full').offsetWidth;

            //var timeScale = d3.time.scale().domain([new Date(2012, 10, 1), new Date()]);

            contributionZoomChart.width(newWidth)
                    .height(40)
                    .margins({top: 0, right: 50, bottom: 20, left: 60})
                    .dimension(contribDayDim)
                    .group(contribWeekGroup)
                    .centerBar(true)
                    .gap(1)
                    .x(d3.time.scale().domain([contribStart, contribEnd]))
                    .round(d3.time.month.round)
                    .alwaysUseRounding(true)
                    .xUnits(d3.time.months);
            contributionZoomChart.yAxis().ticks(0);
            contributionZoomChart.xAxis().tickFormat(tickFormat);



            contributionByDayChart
                    .renderArea(false)
                    .width(newWidth)
                    .height(200)
                    .transitionDuration(1000)
                    .margins({top: 30, right: 50, bottom: 25, left: 60})
                    .dimension(contribDayDim)
                    .mouseZoomable(true)
                // Specify a "range chart" to link its brush extent with the zoom of the current "focus chart".
                    .rangeChart(contributionZoomChart)
                    .x(d3.time.scale().domain([contribStart, contribEnd]))
                    .round(d3.time.month.round)
                    .xUnits(d3.time.months)
                    .elasticY(true)
                    .renderHorizontalGridLines(true)

                // Position the legend relative to the chart origin and specify items' height and separation.
                    .legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))
                    .brushOn(false)
                    .colors(function() { return "#3182bd"; })
                // Add the base layer of the stack with group. The second parameter specifies a series name for use in the
                // legend.
                // The `.valueAccessor` will be used for the base layer
                    .group(contribDayGroup, cumulContrib ? "Contributions" : 'Contributions par jour')
                    .valueAccessor(function (d) {
                        return d.value;
                    })
                // Stack additional layers with `.stack`. The first paramenter is a new group.
                // The second parameter is the series name. The third is a value accessor.

                // Title can be called by any stack layer.
                    .title(function (d) {
                        var value = d.value.avg ? d.value.avg : d.value;
                        if (isNaN(value)) {
                            value = 0;
                        }
                        return dateFormat(d.key); //+ '\n' + numberFormat(value);
                    })
                    .xAxis().tickFormat(tickFormat);

            console.log("contributions", data.length);

            dc.renderAll();

        });
    }

    var missionQuestions;

    function buildStats() {


        d3.json(herbonautes.ctxPath + '/missions/' + missionId + '/questions', function(questions) {

            missionQuestions = questions;


            if (!_.find(missionQuestions, function(q) {
                return q.name == "collector" || q.name == "identifier"
            })) {
                // Pas de botanists
                $("#no-botanists").show();
                $("#with-botanists").hide();
            }

            displayCenturies();
            displayCountryChart();
            displayRegionChart();
            displayContributions();
            buildOldStats();

            window.onresize = function(event) {
                var halfW = document.getElementById('chart-box-half').offsetWidth;
                var fullW = document.getElementById('chart-box-full').offsetWidth;

                countryChart.width(halfW).height(halfW).radius((halfW - 100) / 2 ).transitionDuration(0);
                regionChart.width(halfW).height(halfW).radius((halfW - 100) / 2 ).transitionDuration(0);
                contributionByDayChart.width(fullW).transitionDuration(0);
                contributionZoomChart.width(fullW).transitionDuration(0);
                specimenByDayChart.width(fullW).transitionDuration(0);
                centuryChart.width(halfW).transitionDuration(0);

                dc.renderAll();
            };

        });
    }

    // })();

</script>

<script src="@{'/public/js/herbonautes-app.js'}" type="text/javascript"></script>

<script src="@{'/public/js/nv.d3.min.js'}"></script>
<script src="@{'/public/js/stats.js'}"></script>



<script>

    var globalstats;

    var hiddenData = {};

    function buildOldStats() {

            var questions = missionQuestions;

            // Build contributions by question stats
            d3.json(herbonautes.ctxPath + '/missions/' + missionId + '/stats/contributions', function(stats) {

                //console.log(stats);

                var statusList = [
                    { key: "validated", color: "green" },
                    { key: "inProgress", color: "grey" },
                    { key: "conflicts", color: "orange" }
                ];

                var statsContributionsData = _.map(statusList, function(status) {
                    var stat = _.extend({}, status);
                    stat.values = _.map(questions, function(q) {

                        var sum = _.reduce(stats, function(memo, s) {
                            if (s.question.name == q.name) {
                                return memo + s[status.key];
                            }
                            return memo;
                        }, 0);

                        return {
                            "label" : q.shortLabel,
                            "value" : sum
                        }
                    });
                    stat.key = i18n("stats.legend." + status.key); //overide i18n
                    return stat;

                });

                buildContributionByQuestion('#chart1 svg', statsContributionsData);

            });

            d3.json(herbonautes.ctxPath + '/missions/' + missionId + '/stats/daily', function(stats) {
                var colorByType = {
                    MEMBERS: 'blue',
                    CONFLICTS: 'orange',
                    COMPLETE_SPECIMENS: 'green',
                    CONTRIBUTIONS: 'grey'
                }



                var statTimeData = _.chain(stats).groupBy("date").toArray().map(function(arr) {

                    function val(type) {
                       var v = _.find(arr, function(d) { return d.type == type });
                        return v ? v.value : 0;
                    }

                    var obj = { date: new Date(arr[0].date) }

                    obj.completeSpecimens = val("COMPLETE_SPECIMENS");
                    obj.contributions = val("CONTRIBUTIONS");
                    obj.members = val("MEMBERS");
                    obj.conflicts = val("CONFLICTS");


                    return obj;
                }).sortBy(function(d) { return d.date }).value();

                console.log("statTimeData ", statTimeData);

                var ndxStatTime = crossfilter(statTimeData);

                var contribDateDim = ndxStatTime.dimension(function(d) {
                    return d.date;
                });


                //dayDim.group().reduceSum(function(d) { return d.value }).all()
                var contribMembersGroup = contribDateDim.group().reduceSum(function(d) {
                    return +d.members
                });

                var contribConflictsGroup = contribDateDim.group().reduceSum(function(d) {
                    return +d.conflicts;
                });

                var contribValidGroup = contribDateDim.group().reduceSum(function(d) {
                    return +d.completeSpecimens;
                });

                var dateFormat = d3.time.format('%d/%m/%Y');

                var newWidth = document.getElementById('chart-box-full').offsetWidth;

                if (!specimenStart) {
                    specimenStart = statTimeData[0].date;
                    specimenEnd = statTimeData[statTimeData.length - 1].date;
                }


                var labels = {
                    members: "Membres",
                    conflicts: "Spécimens en conflit",
                    complete: "Spéciméns validés"
                }

                //specimenByDayChart.compose()



                specimenByDayChart
                        //.renderArea(false)
                        .width(newWidth)
                        .height(200)
                        .transitionDuration(1000)
                        .margins({top: 30, right: 50, bottom: 25, left: 40})
                        .dimension(contribDateDim)
                        .mouseZoomable(false)
                        .x(d3.time.scale().domain([specimenStart, specimenEnd]))
                        .round(d3.time.month.round)
                        .xUnits(d3.time.months)
                        .elasticY(true)
                        .renderHorizontalGridLines(true)
                        .brushOn(false)
                        .shareColors(true)
                        //.group(contribMembersGroup, labels.members)
                        //.valueAccessor(function (d) {
                        //    return  hiddenData["members"] ? 0 : d.value;
                        //})
                        //.stack(contribConflictsGroup, labels.conflicts, function (d) {
                        //    return hiddenData["conflicts"] ? 0 : d.value;
                        //})
                        //.stack(contribValidGroup, labels.complete, function (d) {
                        //    return hiddenData["complete"] ? 0 : d.value;
                        //})
                        .title(function (d) {
                            var value = d.value.avg ? d.value.avg : d.value;
                            if (isNaN(value)) {
                                value = 0;
                            }
                            return dateFormat(d.key) + " : " + value;
                        })
                        .colors(function(v) {
                            console.log("color for ", v);
                            if (v == labels["members"]) {
                                return "grey";
                            }
                            if (v == labels["complete"]) {
                                return "green";
                            }
                            if (v == labels["conflicts"]) {
                                return "orange";
                            }
                            return "blue";
                        })

                        function specimenLineChart(group, type) {
                            return dc.lineChart(specimenByDayChart).group(group, labels[type])
                                    .valueAccessor(function (d) {
                                        return  hiddenData[type] ? 0 : d.value;
                                    });
                        }

                        specimenByDayChart.compose([
                            specimenLineChart(contribMembersGroup, "members"),
                            specimenLineChart(contribValidGroup, "complete"),
                            specimenLineChart(contribConflictsGroup, "conflicts")

                        ]);


                specimenByDayChart.xAxis().tickFormat(tickFormat);


                var colors = specimenByDayChart.colors();
                function square(lab) {
                    return '<span class="square" style="background:' + colors(lab) + '">&nbsp;</span>'
                }

                $("#legend-specimens").html(
                    '<div class="legend-control">'
                    + '<span class="item" data-type="members">' + square(labels.members) + " " + labels.members     + '</span>' + '&nbsp;'
                    + '<span class="item" data-type="complete">' + square(labels.complete) + " " + labels.complete   + '</span>' + '&nbsp;'
                    + '<span class="item" data-type="conflicts">' + square(labels.conflicts) + " " + labels.conflicts + '</span>' + '&nbsp;' + '</div>'
                );

                $("#legend-specimens").on('click', '.item', function() {
                    var type = $(this).data("type");
                    if ($(this).hasClass("data-hidden")) {
                        $(this).removeClass("data-hidden");
                        hiddenData[type] = false;
                    } else {
                        $(this).addClass("data-hidden");
                        hiddenData[type] = true;
                    }
                    dc.renderAll();
                });

                dc.renderAll();






                /*var colorByType = {
                    MEMBERS: 'blue',
                    CONFLICTS: 'orange',
                    COMPLETE_SPECIMENS: 'green',
                    CONTRIBUTIONS: 'grey'
                }

                var timeData = _.chain(stats).groupBy("type")
                        .mapValues(function(v, k) {
                            var val = _.map(v, function(o) { return [o.date, o.value] });
                            return { key: i18n("stats.legend." + k), values: val, color: colorByType[k] } })
                        .values()
                        .value();

                //console.log("data", stats, timeData);

                buildTimed("#chart-time svg", timeData);*/
            });

            //buildDemo('#chart2 svg', data);
            //buildDemo('#chart3 svg', data);

    }



</script>



#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/css/dc.css'}" />

<style>
    .chart {  }
    .dc-chart g.row text {fill: black !important;}

    table.legend td {
        width: 50%;
        cursor: pointer;
    }
    table.legend.no-width td {
        width: 20%;
        cursor: pointer;
    }
</style>
#{/set}

