#{extends 'main.html' /}
#{set 'title'}
	&{'edit'} ${herbonautes.titleSep + herbonautes.title}
#{/set}

<h2>${user.login}</h2>

<div class="row">
	<div class="span8">
		
		#{form action: @Users.changePassword(login: user.login), 
				method: 'POST', 
				class: 'form-horizontal'}
  			<fieldset>
				<legend>&{'user.settings.change.password'}</legend>

				<input type="hidden" name="login" value="${user.login}" />

				#{field 'password'}
				<div class="control-group ${field.errorClass}">
					<label class="control-label" for="${field.id}">&{field.name}</label>
					<div class="controls">
						<input 
							name="${field.name}" 
							type="password" 
							class="input-xlarge" 
							id="${field.id}" 
							value="${field.value}"/>
						<span class="help-inline">${field.error}</span>
					</div>
				</div>
				#{/field}
				
				#{field 'newPassword'}
				<div class="control-group ${field.errorClass}">
					<label class="control-label" for="${field.id}">&{field.name}</label>
					<div class="controls">
						<input 
							name="${field.name}" 
							type="password" 
							class="input-xlarge" 
							id="${field.id}" 
							value="${field.value}"/>
						<span class="help-inline">${field.error}</span>
					</div>
				</div>
				#{/field}
				
				#{field 'newPasswordConfirm'}
				<div class="control-group ${field.errorClass}">
					<label class="control-label" for="${field.id}">&{field.name}</label>
					<div class="controls">
						<input 
							name="${field.name}" 
							type="password" 
							class="input-xlarge" 
							id="${field.id}" 
							value="${field.value}"/>
						<span class="help-inline">${field.error}</span>
					</div>
				</div>
				#{/field}

				*{
				<div class="control-group">
      				<label class="control-label" for="input01">&{'user.password'}</label>
     				<div class="controls">
        				<input type="password" class="input-xlarge" name="password" />
      				</div>
    			</div>
    			
    			<div class="control-group">
      				<label class="control-label" for="input01">&{'user.new.password'}</label>
     				<div class="controls">
        				<input type="password" class="input-xlarge" name="newPassword"  />
      				</div>
    			</div>
    			
    			<div class="control-group">
      				<label class="control-label" for="input01">&{'user.new.password.confirm'}</label>
     				<div class="controls">
        				<input type="password" class="input-xlarge" name="newPasswordConfirm" />
      				</div>
    			</div>
    			}*
    			
    			<div class="form-actions">
            		<button type="submit" class="btn btn-success">
						<i class="icon-ok icon-white"></i> &{'button.save'}
					</button>
            		<a class="btn" href="@{Users.settings(user.login)}">&{'button.cancel'}</a>
          		</div>
          		
  			</fieldset>
		#{/form}
		
	</div>

</div>
