#{extends 'main.html' /}
#{set title: 'Les herbonautes' /}

   
<script type="text/javascript" src="@{'/public/ckeditor/ckeditor.js'}"></script>
<script type="text/javascript" src="@{'/public/ckeditor/adapters/jquery.js'}"></script>

<script type="text/javascript">
	/*tinyMCE.init({
	        mode : 'exact',
	        elements: 'presentation-field, report-field'
	});*/

	$(function() {
		var config = {
			toolbar: #{include '/ckeditorToolbarSettings.html' /},
			
			*{ filebrowserImageBrowseUrl: '/contents/images/browse', }*
			filebrowserImageUploadUrl: '@{Contents.imagesUpload()}'
		};
	
		// Initialize the editor.
		// Callback function can be passed and executed after full instance creation.
		$('.ckeditor').ckeditor(config);
	});

	
</script>



<div class="row">
	<div class="span12">

		<h2>&{'contents.edition'} <small>${content.url}</small></h2>
		
		#{form action: @Contents.save(content.url), method: 'POST'}
			
			<input type="text" name="content.url" placeholder="URL" value="${content.url}" disabled/>
			<hr>
			<input type="text" name="content.title" placeholder="Nom" value="${content.title}" /> 
			<textarea class="ckeditor" name="content.text" style="width:100%; height: 400px">${content.text?.raw()}</textarea>
		
			<input type="submit" value="&{'button.save'}" class="btn btn-success" />
			
		#{/form}
	
	</div>
	<div class="span2">
	</div>
</div>