.idea
/tmp
*.iml
*.iws
*.ipr
/target
/precompiled

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/ojdbc5.jar
/logs/
/modules/*
!/modules/cas-3.1
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache


conf/application-*.conf
secret