*{ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Contribution Pays

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
   
#{contributionBox type: 'COUNTRY', cascade: 'REGION_1', mission: mission}
	
	
	<span class="report-values">
		<span class="value" data-report-value="default"></span>
	</span>
	<span class="contribution-values">
		<span class="value" data-value="notPresent"></span>
		<span class="value" data-value="default"></span>
		<span class="value" data-value="deducted"></span>
		<span class="value" data-value="notSure"></span>
	</span>
	
	#{form 
		action: @Contributions.addCountry(specimenId: specimen.id), 
		method: 'POST',
		class: 'contribution-form' }
	
		<input type="hidden" name="contribution.mission.id" value="${mission.id}" />
		<input type="hidden" name="contribution.specimen.id" value="${specimen.id}" />
		<input type="hidden" name="contribution.user.id" value="${connectedId}" />

		<div id="country-main-form"">
	
			<select name="contribution.country.id" id="country-field">
				<option value="" selected="selected">&{'select.country'}</option>
			#{list items: countries, as: 'country'}
				<option value="${country.id}" ${country.id == countryContribution?.country?.id ? 'selected' : ''}>${country.name}</option>
			#{/list}
			</select>
			
			<br/>
			
			<label>
				<input type="checkbox" value="true" name="contribution.deducted" /> 
				&{'deducted'}
			</label>

			<label>
				<input type="checkbox" value="true" name="contribution.notSure" />
				&{'not.sure'}
			</label>
			
		</div>
		
		<label>
			<input type="checkbox" value="true" data-oncheck-hide="#country-main-form" name="contribution.notPresent" />
			&{'not.present'}
		</label>
		
		<div class="buttons">
			<input type="submit" class="btn btn-small btn-success" value="&{'btn.validate'}" />
		</div>
	#{/form}
		
#{/contributionBox}

